
@{
    ViewBag.Title = "User";
}

@*@<h2>User</h2>

<form action="/Home/Registration" method="get">

    <p>
        @ViewBag.firstName
        @ViewBag.lastName
        @ViewBag.username
        @ViewBag.email
        @ViewBag.password

        @ViewBag.Result.FirstName
        @ViewBag.Result.LastName
        @ViewBag.Result.Username
        @ViewBag.Result.Email
        @ViewBag.Result.Password
    </p>*@



    
@*</form>*@





